.card-overlay{
    background: rgba(0, 0, 0, 0.85);
   min-height: 100vh;
}
.bg-img{
    background: url('./bg.jpg');
    background-repeat: no-repeat;
    background-size:cover ;
    min-height: 100vh;
}
.side-content{
    margin-left: auto;
}
input{
    height:50px
}
input::placeholder{
    color:white
}
#email, #pass, #cpass,#firstname,#lastname,#mobile{
    height:50px;
    background-color: rgba(232, 232, 232, 0);
    color: white;
}
label
{
    font-family: 'Lexend Peta', sans-serif;
}


#head{
    font-family: 'Lexend Peta', sans-serif;
}
