::placeholder {
    color:rgb(254, 0, 0);
    opacity: 1;
}
  
.card-overlay2{
    background: rgba(0, 0, 0, 0.7);
    height: 100vh;
}
.bg-img2{
    background: url('./bg.jpg');
    background-repeat: no-repeat;
    background-size:cover ;
    height: 100vh;
}
.side-content{
    margin-left: auto;
}
 
#Email,#password{
    height:50px;
    background-color: rgba(232, 232, 232, 0);
    color: white;
}
input::placeholder{
    color: yellow;
}
label
{
    font-family: 'Lexend Peta', sans-serif;
}
.Submit{
    height:60px;
    font-family: 'Lexend Peta', sans-serif;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
}
#head{
    font-family: 'Lexend Peta', sans-serif;
    font-size: 50px;
}
.loginpage{
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    color: coral;
    text-decoration: none;
    font-family: 'Lexend Peta', sans-serif;
}
a:hover {
    color: white;

  }
.alink{
    display: flex;
    align-items: center;
    justify-content: center;
}