::placeholder {
    color:rgb(254, 0, 0);
    opacity: 1;
}
  

.side-content{
    margin-left: auto;
}
 
#Email,#password{
    height:50px;
    background-color: rgba(232, 232, 232, 0);
    color: white;
}

label
{
    font-family: 'Lexend Peta', sans-serif;
}
.Submit{
    height:50px;
    font-family: 'Lexend Peta', sans-serif;
    font-size: small;
}

#head{
    font-family: 'Lexend Peta', sans-serif;
    font-size: calc(100% + 1vw + 1vh);
}
#head::first-letter{
    color: orange;
    font-size: calc(100% + 2vw + 1vh);
}
.loginpage{
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    color: coral;
    text-decoration: none;
    /* font-family: 'Lexend Peta', sans-serif; */
}
a:hover {
    color: white;

  }

.col{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}